# Template env for openstack demo. Rename to openstack.env and fill in the below.
export OPENSTACK_FAILURE_DOMAIN=
export OPENSTACK_EXTERNAL_NETWORK_ID=
export OPENSTACK_CLOUD=
export FLATCAR_IMAGE_NAME=

# Required for SSHing into machine
export OPENSTACK_SSH_KEY_NAME=t-lo

# Can be left as is or changed if needed
export OPENSTACK_CONTROL_PLANE_MACHINE_FLAVOR=m1.medium
export OPENSTACK_DNS_NAMESERVERS=8.8.8.8
export OPENSTACK_NODE_MACHINE_FLAVOR=m1.medium
